MYSQL_HOST=mysql.yourhost.name
MYSQL_USER=youruser
MYSQL_PASSWORD=
MYSQL_DATABASE=kitchen_inventory
MYSQL_PORT=3306
MYSQL_SSL=1
MYSQL_ACTOR=grok
# IANA zone for expiry "today". Change to your location.
HOUSEHOLD_TZ=America/New_York
MYSQL_TEST_DATABASE=kitchen_inventory_test
